.navbar{
    height:50px;
    width: 900px;
    display: flex;
    background-color: pink;
    justify-content: flex-start;
    border:2px green;
    border-radius: 10px;
    
}
.navbar div{
    height:50px;
    width:80px;
    font-size: 24px;
    color:black;
    margin:10px;
}